authentication-container
.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
   
}
.h1-signUp {
    font-family: monospace;
    font-weight: 200;
    font-size: 20px;
    color: darkslategray;
    margin-left: 5%;
}